<script>
    import { getContext } from 'svelte';

    import { LoginAction } from '../../store/AuthStore';

    import Input from './Input.svelte';
    import PasswordInput from './PasswordInput.svelte';
    import Button from './Button.svelte';

    let imgUrl = 'https://blog.spaceout.pl/content/images/size/w2000/2019/11/1_OJLglSTFZ1PbwpRG0U2xXA.png';
    let email = '';
    let password = '';
    let loading = false;

    const authStore = getContext('store').select('auth');

    const handleClick = () => authStore.dispatch(LoginAction, {
        email,
        password,
    });
</script>

<style lang="scss">
    .page {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .form {
        width: 20%;
        min-width: 260px;
        align-self: center;
        padding: 30px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
        &--header h3 {
            color: #333;
            font-size: 36px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        &--input {
            margin-bottom: 20px;
            width: 40%;
        }
    }
</style>

<div class="page">
    <div class="form">
        <header class="form--header">
            <h3>Todo List: </h3>
        </header>
        <!-- <p>Login:</p> -->
        <Input options={{ theme: 'dark', placeholder: 'email', name: 'email' }} bind:value="{email}" />
        <!-- <p>Password:</p> -->
        <PasswordInput options={{ theme: 'dark', placeholder: 'password' }} bind:value="{password}" />
        <Button click={handleClick}/>
    </div>
</div>
