<script>
    import { getContext } from 'svelte';
    
    import Input from './Input.svelte';
    import Button from './Button.svelte';
    import axios from 'axios';

    const store = getContext('store')

    let title = '';
    let loading = false;

    const setToken = ({ access_token: a, refresh_token: r }) => store.setToken(a, r)

    const handleClick = () => {
        loading = true;
        axios.post('http://localhost:4000/' + 'api/todolist', {
            title
        }, {
            headers: {
                Authorization: `Bearer ${store.get('access_token')}`
            }
        })
            .then(({ data }) => console.log(data))
            .catch(console.error)
            .finally(() => loading = false)
    };
</script>

<style lang="scss">
    // .page {
    //     width: 100vw;
    //     height: 100vh;
    //     position: relative;
    //     display: flex;
    //     justify-content: center;
    // }

    .form {
        width: 100%;
        max-width: 560px;
        align-self: center;
        padding: 30px;
        // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
        &--header h3 {
            color: #333;
            font-size: 36px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        &--input {
            margin-bottom: 20px;
            width: 40%;
        }
    }
</style>

<div class="page">
    <div class="form">
        <header class="form--header">
            <h4>Add Todo List</h4>
        </header>
        <!-- <p>Login:</p> -->
        <Input options={{ theme: 'dark', placeholder: 'Title', name: 'addlist title' }} bind:value="{title}" />
        <!-- <p>Password:</p> -->
        <Button click={handleClick}/>
    </div>
</div>
