<script>
    export let click = fun => fun();
</script>

<style lang="scss">
    .btn {
        color: #333;
        border: none;
        background-color: #eee;
        width: 100%;
        padding: 10px;
        font-size: 22px;
        margin-top: 20px;
    }
</style>

<button class="btn" on:click="{click}">
    Add Todo List
</button>