<script>
    export let options = {
        type: 'text',
        id: 'inpu1',
        name: 'input1',
        theme: 'light',
        placeholder: '',
    };
    export let value = '';
</script>

<style lang="scss">
    .input-wrapper {
        width: 100%;
        margin-bottom: 25px;
    }

    input {
        width: 100%;
        padding: 10px;
        padding-left: 0;
        border: none;
        border-bottom: 1px solid #eee;
        color: #eee;
        outline: none;
        font-size: 20px;
    }

    .dark {
        border-color: #444;
        color: #444;
    }
</style>

<div class="input-wrapper">
    <input  type="text" 
            id="{options.id}"
            name="{options.name}"
            style="{options.style}"
            placeholder="{options.placeholder}"
            bind:value="{value}"
            class="input"
            class:dark={options.theme === 'dark'}
        />
</div>
