<script>
    import { getContext, onMount } from 'svelte';
    import axios from 'axios';
    
    import { GetTodoListAction, AddTodoAction } from '../../store/TodoListStore'
    import Input from './Input.svelte';
    import Button from './Button.svelte';

    export let id = '';

    const todoListStore = getContext("store").select("todoList");
    const todoStore = getContext("store").select("todo");
    const authStore = getContext("store").select("auth");

    let title = '';
    let todoList = {};
    let accessToken;
    let loading = false;
    let error = false;
    

    const load = () => {
        let loading = true;
        todoListStore.dispatch(GetTodoListAction, { accessToken, id })
    };

    todoListStore.getAndSubscribe(({ todoList: ts = {} }) => {
        todoList = ts;
        loading = false;
    });

    authStore.getAndSubscribe(({ access_token }) => {
        accessToken = access_token;
        load();
    });

    const handleClick = () => {
        loading = true;
        todoListStore.dispatch(AddTodoAction, { title, todoList: id, accessToken });
    };
</script>

<style lang="scss">
    .form {
        width: 100%;
        max-width: 560px;
        align-self: center;
        padding: 30px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
        &--header h3 {
            color: #333;
            font-size: 36px;
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        &--input {
            margin-bottom: 20px;
            width: 40%;
        }
    }
</style>

{#if !loading}
    <div class="page">
        <div class="form">
            <header class="form--header">
                <h4>{todoList.title}</h4>
            </header>

            {#if todoList && todoList.todos && todoList.todos.length }
                {#each todoList.todos as todo }
                    <div>{todo.title} --- {todo.status}</div>
                {/each}
            {/if}

            <!-- <p>Login:</p> -->
            <Input options={{ theme: 'dark', placeholder: 'Title', name: 'rodlist title' }} bind:value="{title}" />
            <!-- <p>Password:</p> -->
            <Button click={handleClick}/>
        </div>
    </div>
{/if}