<script>
</script>

<style>
    .side-nav {
        flex-basis: 20%;
        height: 100%;
        flex-direction: row;
        overflow-x: hidden;
        border-right: 1px solid #333;
    }
</style>

<div class="side-nav">
    <slot></slot>
</div>