<script>
    let imgUrl = 'https://blog.spaceout.pl/content/images/size/w2000/2019/11/1_OJLglSTFZ1PbwpRG0U2xXA.png';
</script>

<style>
    .logo {
        width: 100%;
        display: block;
        padding: 20px 0;
    }
    img {
        width: 100%;
    }
</style>

<div class="logo">
    <img src="{imgUrl}" alt="logo">
</div>