<script>
    import { getContext, onMount, onDestroy } from 'svelte';

    import { GetAllTodoListsAction } from '../../store/TodoListStore';
    import MenuItem from './MenuItem.svelte';

    const authStore = getContext('store').select('auth');
    const todoListStore = getContext('store').select('todoList');
    let todoLists = [];
    let loading = false;
    let accessToken;
    let error = false;

    const subs = [];

    const load = () => {
        loading = true;
        todoListStore.dispatch(GetAllTodoListsAction, { accessToken })
    }

    onMount(() => {
        subs.push(todoListStore.subscribe(({ todoLists: td = [] }) => {
            loading = false;
            if(!todoLists) return;
            todoLists = [...td];
        }));

        subs.push(authStore.getAndSubscribe(({ access_token }) => {
            if(!access_token) return;

            accessToken = access_token;
            load();
        }));
    })

    onDestroy(() => subs.forEach(a => a.unsubscribe()))

</script>

<style>
    .menu-wrapper {
        width: 100%;
        border-top: 1px solid #333;
    }
</style>

<div class="menu-wrapper">
    <MenuItem url="/todolist">Add Todo List</MenuItem>
    {#each todoLists as todoList, index}
        <MenuItem url="/todolist/{todoList._id}">{todoList.title}</MenuItem>
    {/each}
    <MenuItem url="/">Home</MenuItem>
    <!-- <MenuItem url="/2">Home2</MenuItem>
    <MenuItem url="/">Home2</MenuItem> -->
    <!-- <MenuItem url="/list">Todo Lists</MenuItem>
    <MenuItem url="/list/2">Todo Lists2</MenuItem>
    <MenuItem url="/list/new">Todo Lists2</MenuItem> -->
</div>