<script>
    import { navigate } from "svelte-routing";
    export let url;
    const onClick = event => {
        navigate(url);
    }
</script>

<style>
    .menu-item {
        display: block;
        padding: 15px;
        width: 100%;
        border-bottom: 1px solid #333;
        transition: background-color ease-in-out 100ms;
        color: #333;
        text-decoration: none;
    }

    .menu-item:hover {
        background-color: #eee;
    }
</style>

<div class="menu-item" on:click="{onClick}">
    <slot></slot>
</div>

