<script>
	import { onMount, setContext } from "svelte";
    import { Router, Link, Route } from "svelte-routing";

    import { initStore } from "./store/Store";
    import { LoginCheckAction } from "./store/AuthStore";
    
    import LoginPage from "./pages/Login/Login.svelte";
    import AddTodoList from "./pages/TodoList/AddTodoList.svelte";
    import TodoList from "./pages/TodoList/TodoList.svelte";
    import RedirectTo from "./utils/RedirectTo.svelte";
    import Root from "./containers/Root.svelte";
    import SideNav from "./containers/SideNav.svelte";
    import MainContent from "./containers/MainContent.svelte";
    import Logo from "./components/SideNav/Logo.svelte";
    import Menu from "./components/SideNav/Menu.svelte";
    import Hello from "./components/Root/Hello.svelte";

    const store = initStore();
    let isLoggedIn = false;

    setContext("store", store);

    store.select("auth").subscribe(({ access_token }) => isLoggedIn = !!access_token);

    onMount(() => store.select("auth").dispatch(LoginCheckAction));

    export let url = "";
</script>

<style>
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext");

    :global(body) {
        font-family: "Roboto" !important;
    }
</style>

<Router {url}>
    {#if isLoggedIn}
        <Root>
            <SideNav>
                <Logo />
                <Menu />
            </SideNav>

            <MainContent>
                <!-- <Route path="blog/:id" component="{BlogPost}" />
                <Route path="blog" component="{Blog}" />
                <Route path="about" component="{About}" />
                <Route path="/"><Home /></Route> -->
                <Route path="todolist" component="{AddTodoList}"/>
                <Route path="todolist/:id" let:params><TodoList id="{params.id}"/></Route>
                <Route path="*">xd</Route>
            </MainContent>
        </Root>
    {/if}
    {#if !isLoggedIn}
        <Route path="*" component="{LoginPage}"/>
    {/if}
</Router>
